<!doctype html>
<html lang="en">
<head>
  {% block title %}<title>Design.pro</title>{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="display: flex;">
  <div style="margin: 20px 40px 0 20px;">
    {% block sidebar %}
      <nav>
        <p><a href="{% url 'index' %}">Главная</a></p>
        {% if user.is_authenticated %}
          <p><a href="{% url 'profile' %}">Личный кабинет</a></p>
          <p><a href="{% url 'my_application' %}">Мои заявки</a></p>
          <p><a href="{% url 'logout' %}">Выйти</a></p>
        {% else %}
          <p><a href="{% url 'login' %}?next={{ request.path }}">Войти</a> или <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
        {% endif %}
      </nav>
    {% endblock %}
  </div>
  <div>{% block content %}{% endblock %}</div>
</body>